/NetBeanse/JavaApplication1/build/
*.class
/NetBeanse/JDBC/nbproject/private/
/NetBeanse/JDBC/build/
/NetBeanse/JDBC/dist/
/NetBeanse/JAVA/nbproject/private/
/NetBeanse/Banking/nbproject/private/
/NetBeanse/Marksheet/nbproject/private/
/NetBeanse/Marksheet/build/
/NetBeanse/Servlet/nbproject/private/
/NetBeanse/Servlet/build/
/NetBeanse/WebApplication1/nbproject/private/
/NetBeanse/WebApplication2/nbproject/private/
/NetBeanse/WebApplication2/build/
/NetBeanse/servlet1/nbproject/private/
/NetBeanse/servlet1/build/
/JSP/nbproject/private/
/JSP/build/
/Jsp2/nbproject/private/
/Preeti/nbproject/private/
/Preeti/build/
/JSPProject/nbproject/private/
/JSPProject/build/
/JSTL/nbproject/private/
/JSTL/build/
/NewJSP/nbproject/private/
/NewJSP/build/
/MVCProject/nbproject/private/
/JSPProject/dist/
